.header {
    min-height: 70px;
    height: auto;
}
.welcome {
    margin-top: 70px;
    width: 100%;
    height: 91vh;
    background-image: url(../assets/v1.webp);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}
.welcome .item {
    background-color: rgba(0, 0, 0, 0.361);
    width: 100%;
    height: 100%;
}
.welcome .titre {
    font-size: 70px;
}
.welcome p {
    font-size: 20px;
}
.about {
    background-color: aliceblue;
    width: 100%
}
.about-container img {
    width: 52%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.about-container .content {
    width: 45%;
    height: 400px;
}
.about-container .content p {
    text-align: justify;
}
.innovation {
    background-color: white;
    width: 100%;
}
.innovation .item .number {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.products {
    background-color: rgba(240, 255, 255, 0.721);
}
.products .all-products .item {
    width: 275px;
    height: 375px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.361);
}
.products .all-products .item img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.text-justify {
    text-align: justify;
}
.testimony {
    background-color: rgba(250, 250, 244, 0.724);
}
.testimony .testimony-item
{
    width: 275px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.361);
}
.testimony .testimony-text-container{
    height: 58%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimony .testimony-user{
    height: 30%;
    width: 90%;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimony .testimony-user-logo{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50px;
}
.newsletter {
    background-color: white;
}
.newsletter-form{
    position: relative;
    width: 80%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.newsletter-form >input[type="email"]{
    position: relative;
    width: 75%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    outline: none;
    border: none;
}
.newsletter-form >input[type="email"]::placeholder{
    font-size: 25px;
    text-align: center;
}
input[type="submit"]{
    position: relative;
    width: 25%;
    height: 50px;
    outline: none;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
}
.testimony {
    background-color: rgba(250, 250, 244, 0.724);
}
.testimony .testimony-item {
    width: 275px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.361);
}
.testimony .testimony-text-container {
    height: 58%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimony .testimony-user {
    height: 30%;
    width: 90%;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimony .testimony-user-logo {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50px;
}
.newsletter {
    background-color: white;
}
.newsletter-form {
    position: relative;
    width: 80%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.newsletter-form>input[type="email"] {
    position: relative;
    width: 75%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    outline: none;
    border: none;
}
.newsletter-form>input[type="email"]::placeholder {
    font-size: 25px;
    text-align: center;
}
input[type="submit"] {
    position: relative;
    width: 25%;
    height: 50px;
    outline: none;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
}